 {{!< default}}
 
 <!-- Navigation -->
 {{> "header"}} 

<!-- Page Content -->
  <div class="container">

    <div class="row">
                {{#foreach posts}}
                  {{!-- The tag below includes the markup for each post - partials/blog-post.hbs --}}
                  {{> "blog-post"}}
               {{/foreach}}
    </div>

	{{pagination}}

  </div>
  <!-- /.container -->
